{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
        <div class="introduce">현지학기프로그램 소개</div>
            <h1>현지학기제프로그램</h1>
            <h2>영진전문대학 해외진출</h2>
            <img src="http://image.newdaily.co.kr/site/data/img/2016/10/31/2016103100090_0.jpg" width="200" height="150" />
            <img src="http://www.ksmnews.co.kr/data/newsThumb/61923_2013_11_05_s_8_1ADD_thumb580.jpg" width="200" height="150" />

            <p>지난 2002년에 첫 실시한 해외현지학기제가 도입 4년째를 맞아 정착단계에 들어섰다고 19일 대학관계자가 밝혔다. 
                이 대학 해외현지학기제는 지난 2002년, 국제관광계열 중국어통역전공 2학년 44명이 참가한 가운데 중국에서 4개월간의 과정을 성공적으로 마무리했다. 
                이듬해인 2003년 상반기에는 같은 계열 일본어통역전공이 일본에서 현지학기제를 가진데 이어 2학기에는 컴퓨터정보계열도 이 제도를 도입, 1학년 재학생 60명이 참가한 가운데 필리핀에서 전공과 영어를 병행하는 6개월 과정을 마쳤다. 
                2004년에는 국내 대학 최초로 미국에서 현지학기제를 갖는 등 영진은 올해까지 중국, 일본, 필리핀, 미국 등 4개국에 420여 명의 재학생이 현지에서 수업을 가졌으며 올 하반기인 8월에는 컴퓨터정보계열 재학생 54명이 필리핀으로 출국해 현지학기제를 갖는 등 매년 학생들의 관심도가 높아만 가고 있다. 
                이 대학 해외현지학기제의 특징은 현지 원어민 교수의 외국어 수업은 기본이고 현지인과 함께하는 문화 체험 활동을 통해 해당 국가의 이해력을 높이고 있다. 특히 현지 호텔, 쇼핑몰 등에서 전공 수업을 겸한 인턴십 프로그램이 마련돼 강의실에서의 수업뿐만 아니라 해외 현장에서 경험하는 실무과정을 통해 참여 학생들의 글로벌 경쟁력을 쑥쑥 키워주고 있다. </p>
            <a id="Q&A" href="/main" class="btn">Q&A</a>
        </div>
{% endblock %}